body {
  padding: 0px;
  margin: 0px;
  font-family: Muli,'Helvetica Neue','Hiragino Sans GB','WenQuanYi Micro Hei','Microsoft Yahei',sans-serif;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1451048518_9885607.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1451048518_9885607.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1451048518_9885607.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1451048518_9885607.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1451048518_9885607.svg#iconfont') format('svg'); /* iOS 4.1- */
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8);
    -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.3);
}

.iconfont {
    font-family: 'iconfont';
    font-style: normal;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

::selection {
    background: #35455c;
    color: #fff;
    text-shadow: none;
}

a {
    text-decoration: none;
    color: #35455c;
}

a:visited {
    color: #35455c;
}
