body {
    /*overflow: hidden;*/
    background: #eee;
}
:local(.title) {
    text-align: center;
    font-size: 30px !important;
}
:local(.back) {
	position: fixed;
	top: 0%;
	background: url("//images.unsplash.com/photo-1428908728789-d2de25dbd4e2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=a9bc0e9a0f6c7f39f74e8fd467330647");
	width: 100%;
    height: 100%;
	background-size: cover;
    background-repeat: repeat-x;
	background-position: center;
	animation-name: zoom;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
    top: 0; left:0; right:0; bottom: 0;
}
@keyframes zoom {
    0% { opacity: 0; transform: scale(1.1) translate(0%,2%);}
    100% { opacity: 1; transform: scale(1) translate(0%,0%); }
}
:local(.container) {
    position: relative;
    top: 110px;
    z-index: 101;
    width: 100%;
    margin-bottom: 40px;
}
:local(.wrap) {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    width: 900px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    border: 1px solid #fff;
    padding: 20px;
    box-sizing: border-box;
    line-height: 1.8;
    word-spacing: 3px;
    color: #35455c;
}
:local(.list) {
    list-style: disc;
}
:local(.list li) {
    margin-bottom: 25px;
}
:local(.list a) {
    color: #35455c;
    text-decoration: none;
    transition: .3s;
}
:local(.list a:hover) {
    text-decoration:underline;
    color: #7bc91e;
}

@media screen and (max-width: 750px) {
    :local(.container) {
        margin-left: 5%;
        width: 90%;
        top: 100px !important;
    }
    :local(.wrap) {
        width: 100%;
    }

    :local(.title) {
        font-size: 18px !important;
    }

    p, li, span {
        font-size: 13px;
    }
    code, code span{
        font-size: 10px;
    }
}
