:local(.back) {
	position: fixed;
	top: 0%;
	background: url("//images.unsplash.com/photo-1433208406127-d9e1a0a1f1aa?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&w=1080&fit=max&s=a8ee512c0722c73021f419bf3e8ef4f9");
	/*background: url("https://images.unsplash.com/reserve/m6rT4MYFQ7CT8j9m2AEC_JakeGivens%20-%20Sunset%20in%20the%20Park.JPG?crop=entropy&dpr=2&fit=crop&fm=jpg&h=775&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1275");*/
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 0% 0%;
	animation-name: scroll;
    animation-duration: 0.4s;
    animation-timing-function: linear;
	animation-fill-mode: forwards;
}
@keyframes scroll {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
:local(.container) {
    position: relative;
    top: 130px;
    z-index: 101;
    width: 100%;
    height: 100%;
}
:local(.wrap) {
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.4);
    width: 800px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
    border: 1px solid #eee;
    padding: 20px;
    box-sizing: border-box;
    overflow: auto;
}
:local(.list) {
    list-style: none;
	padding-left: 0;
	margin: 0;
	height: 520px;
}
:local(.list li) {
	padding-left: 20px;
    margin-bottom: 20px;
	border-bottom: 1px dotted #ccc;
}
:local(.list a) {
    color: #35455c;
    text-decoration: none;
    transition: .3s;
}
:local(.list h3) {
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-size: 17px !important;
}
:local(.list .info) {
	margin-top: 8px;
	margin-left: 5px;
	margin-bottom: 8px;
}
:local(.list span) {
	margin-right: 10px;
	font-size: 14px;
}
:local(.icon) {
	font-size: 20px !important;
}
:local(.list a:hover) {
    text-decoration:underline;
    color: #7bc91e;
}
:local(.paginator) {
	list-style: none;
	margin: 0 auto;
	margin-top: 10px;
	text-align: center;
}
:local(.paginator ul) {
	padding: 0;
	margin: 0;
}
:local(.paginator li) {
	display: inline-block;
}
:local(.paginator li a) {
	border-radius: 20px;
	margin-right: 20px;
	padding: 5px 15px;
	border: 1px solid #35455c;
	transition: .3s;
}
:local(.paginator li a:hover) {
	background: #35455c;
	color: #fff;
	opacity: .8;
}
