:local(.logo) {
	width: 40px;
	margin-top: 18px;
	transition: .3s;
}
:local(.logo:hover) {
	animation-name: run;
    animation-duration: 0.5s;
    animation-timing-function: linear;
	animation-fill-mode: forwards;
	transform: rotate(90deg);
}
@keyframes run {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
:local(.wrap) {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
:local(.nav) {
	position: absolute;
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	height: 70px;
	background: rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid #eee;
	overflow: hidden;
	box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.5);
}
:local(.whitenav) {
	position: absolute;
	position: fixed;
	top: 0;
	z-index: 1000;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	height: 70px;
	border-bottom: 1px solid #eee;
	overflow: hidden;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 1px 1px #ccc !important;
}
:local(.menu) {
	list-style: none;
}
:local(.menu li) {
	display: inline-block;
	line-height: 35px;
	margin-right: 20px;
}
:local(.menu li a) {
	display: inline-block;
	width: 95px;
	height: 35px;
	text-align: center;
	border-radius: 30px;
	color: #35455c;
	text-decoration: none;
	border: 1px solid rgba(255, 255, 255, 0);;
	transition: .4s;
}
:local(.menu li a:hover) {
	/*color: #fff;*/
	border: 1px solid #35455c;
}
.highlight {
	transition: .5s;
	/*background: #35455c;*/
	border: 1px solid #35455c !important;
}

:local(.left) {
	padding-left: 100px;
	width: 300px;
	display: inline-block;
}
:local(.right) {
	display: inline-block;
	position: absolute;
	right: 0;
}
