:local(.wrap) {
	padding: 0;
	margin: 0;
	overflow: hidden;
}
:local(.nav) {
	position: absolute;
	z-index: 100;
	width: 100%;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	height: 70px;
	background: rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid #ededed;
	overflow: hidden;
	box-shadow: 0px 0px 10px 4px #eee;
}
:local(.menu) {
	list-style: none;
}
:local(.menu li) {
	display: inline-block;
	line-height: 35px;
	margin-right: 20px;
}
:local(.menu li a) {
	display: inline-block;
	width: 95px;
	height: 35px;
	text-align: center;
	border: 2px solid #fff;
	border-radius: 30px;
	color: #000;
	text-decoration: none;
	transition: .4s;
}
:local(.menu li a:hover) {
	border: 2px solid #000;
	/*background: #000;*/
	/*color: #fff;*/
}
.highlight {
	transition: .5s;
	border: 2px solid #000 !important;
	/*background: #000;*/
	/*color: #fff !important;*/
}

.in {
	animation-name: animation1;
    animation-duration: 0.5s;
    animation-timing-function: linear;
}

@keyframes animation1 {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes animation2 {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
:local(.left) {
	width: 680px;
	display: inline-block;
}
:local(.right) {
	display: inline-block;
	position: absolute;
}
